@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.cell {
    height: 150px;
    width: 150px;
    background-color: grey;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-one {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: transparent;
}

.cell-two {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(45deg); /* Rotate the line 45 degrees */
    transform-origin: center;
  }
  
  .cell-two-a, .cell-two-b {
    background-color: black; /* Cross color */
    position: absolute;
  }
  
  .cell-two-a {
    width: 100%;
    height: 5px; /* Adjust the thickness of the cross */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cell-two-b {
    width: 5px; /* Adjust the thickness of the cross */
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

.gameboard {
    display: grid;
    grid-template-columns: repeat(3,180px);
    grid-template-rows: repeat(3, 180px);
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.863);
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.nav-bar > li {
  font-size: 1.5rem;
  margin-right: 50px;
  color: white;
}

.title {
  color: white;
}